.title {
    margin-top: var(--l);
    font-size: var(--title-size-s);
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > :first-child {
    padding-top: var(--l);
}

.container__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--l);
}
