.title {
  margin-top: var(--l);
  font-size: var(--title-size-s);
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container > :first-child {
  padding-top: var(--l);
}

.container__main {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.container__main label {
  text-align: left;
  margin-left: var(--m);
  margin-top: var(--m);
  font-size: var(--title-size-xs);
}

.container__options {
  display: flex;
  flex-direction: row;
}

.container__options label {
  text-align: left;
  font-size: var(--title-size-s);
}

.container__options__info {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: var(--l);
}
.container__options__info__age {
  display: flex;
  flex-direction: column;
  padding: var(--l);
}

.container__options__info__age label {
  text-align: left;
  font-size: var(--title-size-s);
  margin-bottom: var(--m);
}

.container__options__info__age input {
  margin: 0px !important;
}

.container__options__prefs {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: var(--l);
}

.container__options__prefs__age {
  display: flex;
  flex-direction: column;
  padding: var(--l);
}

.container__options__prefs__age label:first-of-type {
  text-align: left;
  font-size: var(--title-size-s);
  margin: 0px;
}

.container__options__prefs__age label {
  text-align: left;
  font-size: var(--title-size-xs);
  margin-top: var(--m);
  margin-bottom: var(--s);
}

.container__options__prefs__age__tile {
  text-align: left !important;
  font-size: var(--title-size-s);
  margin-top: var(--m);
  margin-bottom: var(--s);
}

.container__options__prefs__age input {
  margin: 0px !important;
}

.container__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--l);
}
