@import url("https://fonts.googleapis.com/css?family=Comfortaa");

:root {
    --xs: 0.25rem;
    --s: 0.5rem;
    --m: 1rem;
    --l: 2rem;
    --xl: 4rem;
    --xxl: 8rem;

    --body-size: 22px;
    --title-size: 35px;
    --title-front-size: 135px;

    --body-font: Comfortaa;
    --title-font: Comfortaa;

    --primary-color: #f4ccccff;
    --on-primary-color: white;
    --cover-primary-color: white;

    --secondary-color: #ea9999ff;
    --on-secondary-color: white;
    --cover-secondary-color: #e06666ff;

    --surface-color: white;
    --on-surface-color: #434343;
    --on-surface-footer-color: #939090;

    --sidebar-color: #e8aeb3;
    --on-sidebar-color: white;

    --logo-xxl: 150px;
    --logo-xl: 125px;
    --logo-l: 100px;
    --logo-m: 40px;
    --logo-s: 25px;
    --logo-xs: 10px;

    --icon-xxl: 150px;
    --icon-xl: 125px;
    --icon-m: 40px;
    --icon-l: 100px;
    --icon-s: 25px;
    --icon-xs: 10px;

    --icon-text-size-xl: 30px;
    --icon-text-size-l: 15px;

    --radio-size-xl: 300px;
    --radio-size-l: 200px;
    --radio-size-m: 114px;
    --radio-size-s: 50px;
}
