.welcome {
    display: flex;
    text-align: center;
    background: var(--surface-color);
    color: var(--on-surface-color);
    flex-direction: column;
    margin-top: var(--m);
    align-items: center;
}

.welcome h1 {
    display: flex;
    text-align: center;
    background: var(--surface-color);
    color: var(--on-surface-color);
    flex-direction: column;
}

.welcome__content {
    text-align: center;
    width: 70%;
}
