.input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input:disabled {
    color: var(--on-surface-footer-color);
    background-color: var(--on-primary-color);
}
