.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--card-xl));
    grid-gap: var(--l) var(--xxl);
}

.container__card {
    background-color: var(--on-primary-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: var(--s);
}

.container__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container__card img {
    width: var(--image-xl-vertical-width);
    height: var(--image-xl-vertical-height);
    border-top-left-radius: var(--s);
    border-top-right-radius: var(--s);
}

.container__card__data {
    display: flex;
    flex-direction: column;
    padding: var(--l);
}

.container__card__data__main {
    display: flex;
    justify-content: space-between;
    padding-top: var(--l);
    padding-bottom: var(--l);
}

.container__card__data__main h1 {
    font-weight: bold;
}

.container__card__data__others {
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--l);
}

.container__card__data__options {
    display: flex;
    justify-content: space-around;
    padding-bottom: var(--m);
}

.message h1 {
    margin: var(--m);
}

.message__title {
    margin: var(--m);
    font-weight: bold;
}
