.container {
  display: flex;
  padding: var(--l);
  flex-wrap: wrap;
  color: var(--on-surface-color);
}

.container__conversations {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container__conversations__user {
  display: flex;
  padding: var(--s) var(--s) var(--m);
}

.container__conversations__user__image {
  position: relative;
  width: var(--image-l);
  height: var(--image-l);
  overflow: hidden;
  border-radius: 50%;
}

.container__conversations__user__image img {
  width: 100%;
  height: auto;
}

.container__conversations__user__link {
  display: flex;
  flex-direction: column;
  margin-top: var(--m);
}

.container__conversations__user__link p {
  color: var(--on-surface-color) !important;
  margin-left: var(--s);
  font-size: var(--title-size-xs);
}

.container__conversations__user__link a {
  color: var(--on-surface-color) !important;
  margin-left: var(--s);
}

.container__messages {
  display: flex;
  flex: 10;
  flex-direction: column;
}

.message h1 {
  margin: var(--m);
}

.message__title {
  margin: var(--m);
  font-weight: bold;
}
